@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --a: 0;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.name{
    padding: 27px 5px;
    font-size: 25px;
    font-weight: 700;
}
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
.left{
    width: 28vw;
    padding: 10px;
}
.right{
    width: 75vw;
}
.home ul li{
    width: 24px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.heading{
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 18px;
    padding: 23px 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 13px;
}
.heading img{
    width: 28px;
}
.library{
    min-height: 75vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}
.footer a{
    color: grey;
}
.right{
    margin: 16px 0px;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    background-color: rgb(34, 34, 34);
    /* background-color: rgb(169, 165, 165); */
    height: 80px;
}
.header > *{
    padding: 20px;
}
.spotifyPlaylists{
    padding: 16px;
}
.spotifyPlaylists h1{
    padding: 16px;
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 59.5vh;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #252525;
    /* background-color: rgb(186, 183, 183); */
    position: relative;
}
.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}
.card:hover{
    background-color: rgb(83, 82, 82);
    cursor: pointer;
    transition: all 0.5s;
    --a: 1;
}
.play{
    position: absolute;
    bottom: 108px;
    right: 27px;
    opacity: var(--a);
    transition: all 1s ease-out;
}
.buttons > *{
    margin: 0 12px;
}
.signupbtn{
    background-color: rgb(34, 34, 34);
    color: rgb(167, 167, 167);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
.signupbtn:hover{
    font-size: 1.01rem;
    color: white;
}
.loginbtn{
    background-color: white;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    padding: 0 10px;
    width: 110px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 249, 249);
}
.playbar{
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #dad5d5;
    border-radius: 10px;
    width: 67%;
    padding: 12px;
    min-height: 40px;
    z-index: 1;
}
.songbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.songlist{
    height: 420px;
    overflow: auto;
    margin-bottom: 44px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.songlist ul{
    padding: 0 42px;
}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
    /* width: 300px;
    height: 24px; */
}
.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playNow span{
    font-size: 14px;
    width: 64px;
}
.songlist .info{
    font-size: 13px;
    width: 344px;
}
.info div{
    word-break: break-all;
}

.seekbar{
    height: 4px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}
.songbuttons{
    cursor: pointer;
}
.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.songInfo{
    color: black;
    padding: 0 12px;
    width: 250px;
}
.songtime{
    width: 125px;
    color: black;
    padding: 0 12px;
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.range input{
    cursor: pointer;
}
.abovebar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.close{
    display: none;
}
@media (max-width: 1200px) {
    .left{
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 3;
        width: 370px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
    }
    .songInfo, .songtime{
        width: auto;
    }
    .left .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }
    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
    .right{
        width: 100vw;
    }
    .playbar{
        width: calc(100vw - 105px);
    }
    .seekbar{
        width: calc(100vw - 120px);
    }
    .hamburger{
        display: block;
    }
    .right{
        margin: 0;
    }
    .close{
        display: block;
    }
    .card{
        width: 55vw;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
        max-height: 50vh;
        margin-bottom: 35vh;
    }
    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
    .loginbtn{
        width: 90px;
    }
    .cardContainer{
        max-height: unset;
        overflow-y: unset;
    }
}

@media (max-width: 500px){
    .card{
        width: 100%;
    }
    .signupbtn, .loginbtn{
        font-size: 13px;
    }
    .loginbtn{
        width: 60px;
        height: 40px;
    }
    .cardContainer{
        max-height: unset;
        overflow-y: unset;
    }
    .library{
        height: 80vh;
    }
    .left{
        position: fixed;
        top: 0;
        width: 100vw;
    }
}